.list{
    max-width: 900px !important;
    margin: 50px auto 0 !important;
    padding:0 100px !important;
    background-color: #fff !important;
    border: 1px solid #000 !important;
    border-radius: 5px !important;
}

.list h1{
    text-align: center !important;
}

.lista-tarefa{
    display: flex !important;
    justify-content: center !important;
    padding:40px !important;
    margin: 20px !important;
}

.lista-tarefa ul{
    list-style: none !important;
    width: 100% !important;
}

.lista-tarefa ul li{
    padding:  40px 50px !important;
    font-size: 20px !important;
    font-family: Calibri Light !important;
}


.lista-tarefa h2 {
  font-size: 20px;
}

.lista-tarefa a{
    text-decoration: none;
}

.lista-tarefa button{
    margin: -10px 0 0  10px;
    cursor: pointer;
    padding: 0;
}

.lista-tarefa .btn-excluir{
    background-color: red;
    border-radius: 10px;
    padding: 10px;
    color:#fff;
    font-size: 15px;
    border: none;
}

.lista-tarefa .btn-update{
    background-color: orange;
    border-radius: 10px;
    padding: 10px;
    color:#fff;
    font-size: 15px;
    border: none;
}

.btn-adicionar{
    background-color: seagreen;
    color:#fff;
    margin-left: 25em;
    margin-top: -50px;
    border:1px solid #000;
    display: inline-flex;
}